.location-container{
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1.25rem;
    border-radius: var(--br-20);
    box-shadow: var(--box-shadow);
}

.location-date-start,
.location-date-end{
    position: absolute;
    left: 1rem;
    min-width: 60px;
    font-size: 1rem;
    z-index: 2;
}

.location-date-start{
    top: 0;
    transform: translateY(-50%);
}

.location-date-end{
    bottom: 0;
    transform: translateY(50%);
}

.location-img{
    position: relative;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    aspect-ratio: 2.0875;
    border-radius: var(--br-20);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.location-buttons{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    gap: 0.5rem;
}
.location-btn{
    background-color: var(--color-background)!important;
}

.location-img img{
    object-fit: cover;
}

.location-title{
    margin-top: .5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.location-entity-type{
    color: var(--color-grey);
    font-size: 0.75rem;
    font-weight: 600;
}

.location-add-button{
    padding: 4px!important;
    width: 40px!important;
    height: 40px!important;
    position: absolute;
    right: 0.5rem;
    bottom: .5rem;
}

.location-add-button-icon{
    width: 14px!important;
    height: 14px!important;
}
