.select{
    --select-icon-width:20px;
    --select-padding:10px;

    position: relative;
    padding-right: 4px;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: max-height .3s, box-shadow .3s;
    z-index: 5;
}

.select.active{
    box-shadow: var(--box-shadoe);
}

.select.border{
    border: 2px solid var(--color-grey);
}

.select-header{
    flex: none;
    align-items: stretch;
    cursor: pointer;
}

.select-item,
.select-value,
.select-chevron{
    display: flex;
    justify-content: center;
    align-items: center;

    padding:  var(--select-padding) 0 var(--select-padding) var(--select-padding);
    background-color: var(--color-secondary);
}

.select-value{
    flex: 1;
    min-width: 20px;
}

.select-item{
    cursor: pointer;
    height: calc(var(--select-padding) * 2 + var(--select-icon-width));
}

.select-options{
flex: 1;
    overflow-y: auto;
    background-color: var(--color-secondary);
}


.select-item span{
    flex: none;
    width: var(--select-icon-width);
}

.select-chevron{
    flex: none;
    width: var(--select-icon-width);
    background:  url("../../../../public/icons/chevron_down.svg") center no-repeat;
    background-size: contain;
    transform: rotate(0);
    transition: transform .3s;
}

.select.active .select-chevron{
    transform: rotate(-180deg);
}