{
    "ignorePatterns": [
        "Expenses.js"
    ],
    "rules": {
        "prefer-rest-params": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "extends": ["react-app", "react-app/jest"]
}
