<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://185.84.163.151"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /subdirectory
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>