.check-list{
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: var(--color-background);
}


.check-list-content{
    overflow-y: auto;
}

.check-list-btn{
    display: block;
}

.checkbox-content{
    overflow-x: hidden;
}

.check-list-item-remove{
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
}