.swiper-container{
    position: relative;
    /*overflow: hidden;*/
}

.swiper-controls{
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    height: calc(100% - 2px);
    z-index: 1;
    overflow: hidden;
}

.swiper-button:first-child{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.swiper-button:last-child{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.swiper-button{
    position: relative;
    width: calc(var(--x) * 2);
    background-color: var(--color-primary-light);
    cursor: pointer
}

.swiper-button.danger{
    background-color: var(--color-danger);
    color: var(--color-secondary);
    stroke: var(--color-secondary);
}
.swiper-button.success{
    background-color: var(--color-success);
}

.swiper-button div{
    width: var(--x);
    height: var(--x);
    background-color: var(--color-secondary);
}

.checkmark-svg{
    mask: url(../../../../public/icons/check.svg) no-repeat center;
}

.trash-svg{
    mask: url(../../../../public/icons/trash.svg) no-repeat center;
}

.swiper-container.small .swiper-button img{
    width: calc(var(--x) / 2);
    height: calc(var(--x) / 2);
}

.swipe-item{
    position: relative;
    background-color: var(--color-secondary);
    width: 100%;
    transition: transform .3s;
    z-index: 2;
}