.pageHeader-container{
    padding: 24px 20px 13px;

}

.page-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header-icon{
    position: relative;
    flex: 0 0 24px;
    cursor: pointer;

}

.page-header.arrowBack{
    padding-left: 34px;
}

.page-header > *{
    flex: 0 0;
}

.title{
    /*flex: 0 1;*/
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}

