.page-header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

.page-header {
    flex: 1;
}

.page-header-icon, .page-header-placeholder {
    position: relative;
    flex: none;
    width: var(--x);
    height: var(--x);
}

.page-header-icon{
    cursor: pointer;
}

.page-header-icon img{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}

