.page-header-container {
    position: relative;
    padding: 0.5rem 0;
    stroke: var(--color-text);
    fill: var(--color-text);
}

.page-header {
    flex: 1;
}

.page-header-icon, .page-header-icons {
    position: relative;
    flex: none;
    min-width: var(--x);
    height: var(--x);
}

.page-header-icons svg,.page-header-icons img{
    width: var(--icon-size);
    height: var(--icon-size);
}

.page-header-icon{
    stroke: var(--color-secondary);
    mask: url("../../../../public/icons/back.svg") 0 50% / var(--x) var(--x) no-repeat;
    mask-size: 60%;
    background: var(--color-text);

    cursor: pointer;
}

.page-header-icon svg{
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    top: 50%;
    transform: translateY(-50%);
}

