.travel-map{
    color: var(--color-black);
    background-color: var(--color-background-alt);
}

#map{
    height: 100%;
    overflow: hidden;
}

.travel-controls{
    position: fixed;
    top: 65%;
    right: 12px;
}


.travel-map-input-container{
    position: relative;
}


.travel-map-input{
    padding-right: 40px;
    background-color: white;
}

.travel-map-search{
    position: absolute;
    top: 50%;
    right: 4px;
    width: calc(var(--icon-size) / 1.7);
    height: calc(var(--icon-size) / 1.7);
    margin-right: calc(var(--icon-size) / 2.5);
    transform: translateY(-50%);
    cursor: pointer;
}

.travel-map-drag-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;
    cursor: grab;
}

.travel-map-drag-icon svg{
    width: var(--icon-size);
    height: var(--icon-size);
    pointer-events: none;
}
