.travel-map{
    --color-text: white;
    --color-background: white;
    background-color: var(--color-grey-light);
}

#map{
    height: 100%;
}

.travel-controls{
    position: absolute;
    top: 50%;
    right: 12px;
}