.section{
    padding: 20px 0;
}

.sectionTitle{
    font-size: 1.125rem;
    font-weight: 600;
}

.sectionTitle ~ *{
    font-size: 1.250rem;
}

.sectionSubtitle{
    font-size: 0.75rem;
    color: var(--color-grey);
}

.sectionItem{
    margin: 11px 0 0;
    font-size: 0.875rem;
    font-weight: 600;
}

.sectionItem  span{
    line-height: 1;
    font-size: 0.75rem;
    color: var(--color-grey);
}

.expensesList:not(:last-child) > *{
    border-bottom: 2px solid var(--color-grey-light);
}


