.section{
    padding: 20px 0;
}

.section-title{
    font-size: 1.125rem;
    font-weight: 600;
}

.section-title ~ *{
    font-size: 1.250rem;
}

.section-subtitle{
    font-size: 0.75rem;
    color: var(--color-grey);
}

.section-subtitle.red{
    color: var(--color-danger);
}

.section-items{
    margin-top: 10px;
}

.section-item{
    align-items: stretch;
    padding: 0 10px;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: var(--color-background);
}

.section-item  span{
    line-height: 1;
    font-size: 0.75rem;
    color: var(--color-grey);
}

.expenses-list:not(:last-child) > *{
    border-bottom: 2px solid var(--color-grey-light);
}


