.plus-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--control-size);
    height: var(--control-size);

    background-color: var(--color-primary);
    border-radius: 50%;
    border: none;
    outline: none;
    filter: var(--controls-shadow)
}