.line{
    margin: 4px 0 3px;
    position: relative;
    height: 5px;
    background-color: var(--color-grey-light);
    border-radius: 5px;
    overflow: hidden;
}

.front{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 5px;

}
