.modal {
    position: relative;
    z-index: 2000;
}

.modal-backplate {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-bg);
    opacity: 0.8;
}

.modal-wrapper {
    position: fixed;
    width: calc(100vw - 20px *2);
    height: calc(100% - 20px *2);
    left: 50%;
    top: 50%;
    background-color: var(--color-secondary);
    transform: translate(-50%, -50%);
}

.modal-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 20px;
    height: 20px;
    fill: var(--color-text);
    transform: rotate(45deg);
    cursor: pointer;
}