.buttons-block-container{
    width: 100%;
    position: relative;
    background-color: transparent;
    pointer-events: none;
    z-index: 1100;
}

.buttons-block-container svg {
    color: var(--color-primary-text);
}

.buttons-block-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    pointer-events: all;
}
