.small-card{
    padding: .25rem;
    border-radius: var(--br-20);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10);
}

.small-card-image{
    display: block;
    position: relative;
    /*aspect-ratio: 1.93333333;*/
    height: 120px;
    border-radius: var(--br-20);
    overflow: hidden;
}

.small-card-image ~ *{
    margin-bottom: 0.5rem;
}


.small-card-content{
    padding: 0 0.5rem;
    font-weight: 600;
    line-height: 140%;
}
.small-card-subtitle{
    font-size: 0.7rem;
    color: var(--color-grey);

}

.small-card-title{

}
