.travel-details{
    position: relative;
    aspect-ratio: 1.25;
}

.travel-details-header{
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    background-color: transparent;
    pointer-events: none;
}

.travel-details-backface{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
    padding-top: 60px;
    background-color: #E5E8E7;
    overflow-y: auto;
}

.travel-details img{
    border-radius: var(--br-20);
    object-fit: cover;
}

.travel-details-title{
    font-size: 32px;
    font-weight: 600;
}

.travel-details-subtitle{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-grey);
}
