.travel-details{
    position: relative;
    padding-bottom: 95.5%;
}

.travel-details-header{
    background-color: transparent;
    pointer-events: none;
}

.travel-details-backface{
    color: #1E1E1E !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 60px;
    /*color: var(--color-text);*/
    background-color: var(--color-background-alt);
    overflow-y: auto;
    z-index: 0;
}

.travel-details-backface svg{
    color: var(--color-black);
    stroke: var(--color-black);
}

.travel-details img{
    border-radius: var(--br-20);
    object-fit: cover;
}

.travel-details-title{
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
}
.travel-details-title--empty{
    font-size: 1.6rem;
}

.travel-details-icon.public svg{
    color: var(--color-green)!important;
    stroke: none;
}

.travel-details-icon.private svg{
    color: var(--color-grey)!important;
    stroke: none;

}

.travel-details-title h2{
    text-align: center;
}

.travel-details-subtitle{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-grey);
}

.travel-menu{
    /*color: var(--color-text-secondary)!important;*/
}
.travel-menu.curtain-closed,
.travel-menu.curtain-closed .menu-dots{
    color: var(--color-text)!important;
}

.travel-menu .menu-dots{
    /*color: var(--color-text-secondary);*/
}

@media (prefers-color-scheme: dark) {
    .travel-details-backface{
        color: var(--color-text-secondary)
    }
}
