.travel-details{
    position: relative;
    padding-bottom: 56%;
}

.travel-details-header{
    background-color: transparent;
    pointer-events: none;
}

.travel-details-backface{
    color: #1E1E1E;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
    padding-top: 60px;
    background-color: #E5E8E7;
    overflow-y: auto;
}

.travel-details-backface svg{
    color: var(--color-black)!important;
    stroke: var(--color-black)!important;
}

.travel-details img{
    border-radius: var(--br-20);
    object-fit: cover;
}

.travel-details-title{
    font-size: 32px;
    font-weight: 600;
}

.travel-details-subtitle{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-grey);
}

.travel-menu svg{
    color: var(--color-icon-alt)!important;
}

@media (prefers-color-scheme: dark) {
    .travel-details-backface{
        color: var(--color-text-secondary)
    }
}
