.input-container{
    position: relative;
}

.input{
    padding: 10px 12px 10px 16px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--color-grey-light);
    background-color: var(--color-secondary);

    caret-color: var(--color-primary);
}

.inout::placeholder{
    color: var(--color-grey-light);
}