.date-picker-container{
    --date-item-size: 35px;

    width: calc(42px + var(--date-item-size) * 7);

    padding: 20px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    border: 1px solid var(--color-grey-light);
    box-shadow: 0 0 16px rgba(205,205,205, .7);


}

.date-picker-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: capitalize;
    font-weight: 700;
}

.date-picker.title{
    font-weight: 700;
}

.date-picker-content{

}

.date-picker-item, .date-picker-day{
    display: flex;

    width: var(--date-item-size);
    height: var(--date-item-size);

    color: var(--color-text);
    background-color: transparent;
    transition: var(--tr-all);
}

.date-picker-item{
    cursor: pointer;
}

.date-picker-item.selected{
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    background-color: var(--color-blue);
}

.date-picker-item.inactive{
    color: var(--color-grey);
}

.date-picker-footer{
    color: var(--color-blue);
    font-weight: 600;
    cursor: pointer;
}

.date-picker-footer > * {
    transition: var(--tr-all);
}

.date-picker-footer > *:hover {
    transform: scale(1.05);
}
