:root {
    --color-green: #52CF37;
    --color-primary: #FF8E09;
    --color-primary-light: #FFF3E4;
    --color-secondary: #FFF;
    --color-background: #FFF;
    --color-background-alt: var(--color-grey-light);
    --color-grey: #A2A2A2;
    --color-grey-light: #F0F0F0;
    --color-text: #000;
    --color-text-50: rgba(30, 30, 30, 0.50);
    --color-text-secondary: #000;
    --color-text-light: #1E1E1E;
    --color-blue: #0075FF;
    --color-black: #000000;
    --color-navigation-bg: var(--color-secondary);
    --color-placeholder: #c9c9c9;
    --color-link: var(--color-primary);
    --color-star: #E3CD00;
    --color-whatsapp: #25D366;
    --color-telegram: #0088CC;
    --color-share-link: var(--color-grey-light);

    --color-icon: var(--color-text);
    --color-icon-alt: #000;
    --color-primary-button: #fff;

    --color-success: #52CF37;
    --color-warning: #E3CD00;
    --color-danger: #FF0909;

    --box-shadow: 0 0 16px rgba(205,205,205, .7);
    --border: 2px solid var(--color-grey);

    --modal-bg: rgba(0,0,0,.6);
    --input-highlight-color: rgba(255, 142,	9, 0.7);


}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF8E09;
        --color-secondary: #000;
        --color-text-secondary: #000;
        --color-text-light: #E1E1E1;

        --color-text: #fff;
        --color-text-50: rgba(235, 235, 235, 0.50);
        --color-background: rgb(30,30,30);
        --color-background-alt: var(--color-grey-light);
        --color-navigation-bg: rgb(30,30,30);
        --color-icon: var(--color-text);
        --color-icon-alt: #000;
        --box-shadow: 0 0 16px rgba(90,90,90, .7);
    }
}

.light-theme{
    --color-text: #000;
    --color-text-50: rgba(30, 30, 30, 0.50);
    --color-background: #fff;
    --color-background-alt: var(--color-grey-light);
    --color-navigation-bg: var(--color-background);
    --color-icon: var(--color-text);
    --color-icon-alt: #000;
    --box-shadow: 0 0 16px rgba(205,205,205, .7);
}

.dark-theme{
    --color-text: #fff;
    --color-text-50: rgba(235, 235, 235, 0.50);
    --color-background: rgb(30,30,30);
    --color-background-alt: var(--color-grey-light);
    --color-navigation-bg: rgb(30,30,30);
    --color-icon: var(--color-text);
    --color-icon-alt: #000;
    --box-shadow: 0 0 16px rgba(90,90,90, .7);

}
