:root {
    --color-green: #52CF37;
    --color-primary: #FF8E09;
    --color-primary-light: #FFF3E4;
    --color-secondary: #FFF;
    --color-grey: #A2A2A2;
    --color-grey-light: #F0F0F0;
    --color-text: #000;
    --color-text-light: #1E1E1E;
    --color-blue: #0075FF;

    --color-success: #52CF37;
    --color-warning: #E3CD00;
    --color-danger: #FF0909;

    --box-shadoe: 0 0 16px rgba(205,205,205, .7);



}
