:root{
    --x: 40px;
    --border-radius: 6px;
    --vh: 1vh;
    --br-20: 20px;
    --br-16: 16px;
    --br-10: 10px;
    --icon-size: 24px;
    --icon-size-small: 16px;
    --avatar-size: 44px;
    --control-button-size: 40px;
    --browser-icon-size: 40px;
    --photo-size: 120px;
    --toggle-thum-size: 24px;
    --border-size: 2px;
}