.recommend-location{
    position: relative;
    margin-left: 40px;
    padding-left: 40px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 2px dashed var(--color-grey);
}

.recommend-location-add{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.recommend-movement-time{
}

.recommend-movement-time svg{
    width: var(--icon-size);
    height: var(--icon-size);
}

.recommend-activity-start,
.recommend-activity-end{
    position: absolute;
    left: 0;
    font-size: 1.005rem;
}

.recommend-activity-start{
    top: 0;
    transform: translate(-43%, -50%);
}

.recommend-activity-end{
    bottom: 0;
    transform: translate(-43%, 100%);
}
