.close-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: var(--br-10);
    background-color: var(--color-grey-light);
    color: black;
    border: none;
    outline: none;

}

.close-frame svg{
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
}