.blur-backplate {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(3px);
    transition: backdrop-filter 0.3s;
}